<!DOCTYPE html>
<html lang="es-CL">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reportes</title>
  <!--ICONO DE LA PAGINA-->
  <link rel="icon" type="image/x-icon" href="/resources/img/logopequeno-hospital.png">

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script defer src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
  <script src="https://cdn.rawgit.com/eKoopmans/html2pdf/0.9.3/dist/html2pdf.bundle.js"></script>
  <!--ESTILOS-->
  <link rel="stylesheet" href="/resources/css/reportes.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>

<body id="body-pd">
  <header class="header" id="header">
    <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
    <h3>SISTEMA DE CONTROL DE ALIMENTACIÓN</h3>
    <div class="log-out"><a href="/logout" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span
          class="nav_name">
          <!-- NombreCompleto -->
        </span></a></div>
  </header>
  <div class="l-navbar" id="nav-bar">
    <nav class="nav">
      <div class="nav_list">
        <a href="/NutricionistaJefe" class="nav_link"> <i class='bx bx-user nav_icon'></i>
          <span class="nav_name">Alimentacion Hospitalizado</span> </a>
        <a href="/NutricionistaJefe/funcionarios" class="nav_link"> <i class='bx bx-grid-alt nav_icon'></i>
          <span class="nav_name">Mantenedor de Funcionario</span></a>
        <a href="/NutricionistaJefe/reportes" class="nav_link active"> <i class='bx bx-folder nav_icon'></i>
          <span class="nav_name">Reporteria</span></a>
        <a href="/NutricionistaJefe/mantenedores" class="nav_link"> <i class='bx bx-check-square nav_icon'></i>
          <span class="nav_name">Mantenedores</span> </a>
        <a href="/NutricionistaJefe/dashboard" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
          <span class="nav_name">Dashboard</span> </a>
      </div>
    </nav>
  </div>
  <div class="titulo">Reportes</div>
  <div id="container">
    <button id="Excel" onclick="descargarTabla()"><i class='bx bx-download' id="icon-descarga"></i><span>Descargar
        Tabla</span></button>
    <button id="Pdf" onclick="descargarTablaPDF()"><i class='bx bx-download' id="icon-descarga"></i>Descargar Tabla
      PDF</button>

    <div id="tbl-reportes">
      <table>
        <tr>
          <th class="titulos1">Establecimiento:</th>
          <th>Año:</th>
          <th>Mes:</th>
          <th></th>
        </tr>
        <tr>
          <th class="titulos">Hosp San José (Melipilla)</th>
          <th>
            <%= info.anio %>
          </th>
          <th>
            <%= info.mes %>
          </th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th class="th-1"></th>
          <th class="th-0">Produccion</th>
          <th class="th-2"></th>
        </tr>
        <tr>
          <th>UNIDAD DE MEDICINA TRANSFUSIONAL</th>
          <th>N°Raciones Funcionario</th>
          <th>N°Raciones Hospitalizado</th>
          <th>N°Raciones Lactante</th>
        </tr>
        <% detalles.forEach(detalle=> { %>
          <tr>
            <td>
              <%= detalle.DescTipoUnidad %>
            </td>
            <td>
              <%= detalle.RacionesFuncionarios %>
            </td>
            <td>
              <%= detalle.RacionesHospitalizados %>
            </td>
            <td>
              <%= detalle.RacionesLactantes %>
            </td>
          </tr>
          <% }); %>
      </table>
    </div>
  </div>
  <script>
    function descargarTabla() {
      $("#tbl-reportes table").table2excel({
        exclude: ".noExl", // Clases CSS que quieres excluir de la exportación
        name: "Tabla_Reportes",
        filename: "reporte_<%= info.anio %>_<%= info.mes %>", // Nombre del archivo sin extensión
      });
    }
    function descargarTablaPDF() {
      const element = document.getElementById("tbl-reportes");

      // Definir opciones para la descarga PDF
      const options = {
        margin: 10,
        filename: "reporte_<%= info.anio %>_<%= info.mes %>.pdf", // Cambia 'nombre_personalizado' por el nombre que desees
        image: { type: "jpeg", quality: 0.98 },
        html2canvas: { scale: 2 },
        jsPDF: { unit: "mm", format: "a4", orientation: "portrait" },
      };

      // Llamar a la función html2pdf con las opciones
      html2pdf(element, options);
    }
  </script>
  <script src="/resources/js/navbar.js"></script>
</body>

</html>